body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}



.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(4, 177, 16, 0.752);
    width:200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.card:hover {
    background-color: #18b950;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(6, 179, 3, 0.388);
}

